.about {
    height: 100%;
    padding: 100px 0;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    background: #111517;
    color: white;
    font-weight: 300;
    line-height: 130%;
    .whiteLine,
    .whiteLine2 {
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
        position: relative;
        display: inline-block;
        background-color: rgba(255,255,255,1);
    }
    .aboutP {
        font-size: calc(1rem + 0.5vw);
        letter-spacing: 0.6px;
        font-weight: 100;
        height: 100%;
    }
    .skillList {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        .pTag {
            padding-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            .skillDiv {
                display: flex;
                flex-direction: column;
                align-items: center;
                i {
                    font-size: 4rem;
                    padding-bottom: 15px;
                    height: 60px;
                }
            }
        }
    }
}