.about, .what, .services, .contact {
    height: 100%;
    padding: 30px 0;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    background: black;
    color: white;
    line-height: 130%;
    font-size: calc(1.2rem + 0.3vw);
    .wrapper {
        width: 80%;
    }
    .textblock {
        background: black;
        height: 100%;
        position: relative;
        z-index: 9;
    }
    p {
        font-size: calc(1.5rem + 1.4vh);
        letter-spacing: 0.6px;
        line-height: 120%;
        font-weight: 300;
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin: 10px auto;
    }
}

.what {
    .what-we-do {height: 30vh;}
    .services {
        margin-top: 10px;
        display: flex;
        flex-flow: row wrap;
        div {
            width: 30%;
            padding: 30px;
            text-align: center;
            h4 {text-align: center;}
            i {
                color: $blue; font-size: 7rem;
                padding-bottom: 20px;
            }
        }
    }
}

.white {color: $owhite; transition: 0.2s all; 
    &:hover, 
    &:focus {color: white}
}

