.about, .what, .services, .contact {
    height: 100%;
    padding: 30px 0;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    background: black;
    color: white;
    line-height: 130%;
    font-size: calc(1.2rem + 0.3vw);
    position: relative;
    .wrapper {
        width: 80%;
    }
    .whiteLine,
    .whiteLine2 {
        width: 90%;
        height: 1px;
        display: inline-block;
        background-color: rgba(255,255,255,1);
    }
    p {
        letter-spacing: 0.6px;
        font-weight: 300;
        height: 100%;
        margin: 10px auto;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }
    // .modal {
    //     background: white;
    //     position: absolute;
    //     top: -10%; right: 40%;
    //     transform: translate(50%,-50%);
    //     color: $nonBlack;
    //     font-size: 1.5rem;
    //     letter-spacing: 1px;
    //     border-radius: 2px;
    //     opacity: 0;
    //     background: white;
    //     width: 250px;
    //     transition: 0.8s all;
    //     .modalText {
    //         text-align: center;
    //         width: 100%;
    //     }
    // }
    // .activeView {
    //     opacity: 1;
    //     top: 11%;
    // }
}

.what {
    .what-we-do {height: 30vh;}
    .services {
        margin-top: 10px;
        display: flex;
        flex-flow: row wrap;
        div {
            width: 30%;
            padding: 30px;
            text-align: center;
            h4 {text-align: center;}
            i {
                color: $blue; font-size: 7rem;
                padding-bottom: 20px;
            }
        }
    }
}

.white {color: $owhite; transition: 0.2s all; 
    &:hover, 
    &:focus {color: white}
}

