#address {
    background-image: url("../assets/thing3.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    div.textblock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span, a {
            font-weight: 300; 
            font-family: Lato, sans-serif; 
            color: white;
            line-height: 130%;
        }
        a:hover, a:focus {color: $gold}
    }
}

.footer {
    background-color: black;
    color: $owhite;
    font-family: Lato, sans-serif;
    text-align: center;
    font-size: calc(1rem + 0.3vw);
    font-weight: 300;
    letter-spacing: 8px;
    padding: 5px 0;
    a {
        color: white;
        font-weight: 400;
        position: relative;
        z-index: 99;
        &:hover,
        &:focus {
            color: $gold;
            cursor: pointer;
        }
    }
}