
#Contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    form {
        text-align: center;
        margin-top: 50px;
        width: 100%;
        p { font-size: calc(2rem + 1vh); line-height: 60px;}
        input, select, button {
            color: $gold;
            font-weight: 300;
            font-family: Lato, sans-serif;
            text-transform: uppercase;
            text-align: center;
            background: none;
            border: none;
            border-bottom: 1px solid white;
            max-width: 400px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .actions {
            display: flex;
            justify-content: center;
            button {
                font-size: 2rem;
                border: 1px solid transparent;
                color: black;
                background: $blue;
                &:hover {
                    color: $gold;
                    border-color: $gold;
                    background: none;
                    transition: .5s all;
                }
            }
        }
    }
}

.shiftLeft1, .shiftLeft2  { position: relative; right: -650px; }
.shiftRight1, .shiftRight2 { position: relative; right: 300px; }