#contact {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    form {
        text-align: center;
        margin-top: 50px;
        width: 100%;
        font-family: Russo, sans-serif;
        p { font-size: calc(2rem + 1vh); line-height: 60px;}
        input, select {
            font-family: Russo, sans-serif;
            color: $gold;
            text-transform: uppercase;
            text-align: center;
            background: none;
            border: none;
            border-bottom: 1px solid white;
            max-width: 400px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .actions {
            display: flex;
            justify-content: center;
        }
    }
}

