nav.flexed {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    transition: 1s all;
    
    a {color: $owhite; font-weight: 300;}
    .fas {color: white; padding: 15px 8px; font-size: 1.3rem; transition: all 0.16s; z-index: 999;
    &:hover,
    &:focus { transform:scale(1.2)}
    }
}
#header {
    height: 100vh;
}
header {
    overflow-x: hidden;
    background-image: url("../assets/earth4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .siteTitle {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .headers {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            div { 
                margin: 20px auto;
            }
        }
        h1 {
            font-family: Blackout, sans-serif;
            font-weight: 100;
            font-size: calc(8rem + 3vw);
            color: rgba(255, 255, 255, 0.7);
            text-transform: uppercase;
            transition: 0.9s all;
            align-self: flex-start;
            white-space: nowrap;
        }
        h2 {
            font-family: Lato, serif;
            font-size: calc(2rem + 1vw);
            font-weight: 700;
            margin-top: -10px;
            letter-spacing: 8px;
            color: white;
            text-align: left;
            white-space: nowrap;
        }
        br {display: none;}
    }
}
