header {
    overflow-x: hidden;
    height: 100vh;
    padding: 10px 20px;
    background-image: url("../assets/earth4.jpg");
    background-repeat: no-repeat;
    .siteTitle {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        nav.flexed {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 1s all;
            .logo {
                font-family: Arial, Helvetica, sans-serif; 
                font-weight: 500; letter-spacing: 0px; 
                color: white;
                span {color: grey}
            }
            a {color: white; font-weight: 300;}
            .fas {color: white; padding: 15px 8px; font-size: 1.5rem; transition: all 0.16s; z-index: 999;
            &:hover,
            &:focus { transform:scale(1.2)}
            }
        }
        .headers {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            div { 
                margin: 20px auto;
            }
        }
        h1 {
            font-family: Blackout, sans-serif;
            letter-spacing: 8px;
            font-weight: 500;
            font-size: calc(8rem + 3vw);
            color: rgba(255, 255, 255, 0.7);
            text-transform: uppercase;
            transition: 0.9s all;
            align-self: flex-start;
            white-space: nowrap;
        }
        h2 {
            font-family: Lato, serif;
            font-size: calc(2rem + 1vw);
            font-weight: 700;
            margin-top: -10px;
            letter-spacing: 8px;
            color: white;
            text-align: left;
        }
        br {display: none;}
    }
}
