/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    header .siteTitle {
        h1 {font-size: calc(6rem + 2vw)}
        h2 {font-size: 20px; letter-spacing: 2px; }
    }
    #our-services .textblock div {
        width: 50%;
        margin-right: 0px;
        padding: 5px;
        p { font-size: 16px;}
    }
    #contact form p { font-size: 20px; }
}

/* Landscape phones and down */
@media (max-width: 530px) {
    .cursor { display: none; }
    nav { 
        padding: 10px 20px !important;
        a {font-size: 12px;}
    }
    header {
        // background-color: rgba(0, 0, 0, 0.8);
        .siteTitle {
            h1 { font-size: calc(5rem + 2vw); }
            h2 { font-size: 16px; padding-top: 20px; }
            br { display: initial; }
        }
    }    
    .Img1, .Img2, .Img3, header {
        background-attachment: scroll;
    }
    #about-us, #what-we-do, #address, #contact #our-services {
        .textblock {
            p { line-height: 130%; font-size: 16px; }
        }
    }
    #our-services .textblock {
        padding: 20px;
        h4 {font-size: 16px;}
        button { min-width: 130px; width: 130px; }
        div {
            width: 100%;
            margin-bottom: 0;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            div.service p { padding: 0px 15px; font-size: 16px !important; }
        }      
    }
    .shiftLeft1 { right: -430px; }
    .shiftLeft2  { right: -400px; }
    .shiftRight1 { right: 370px; }
    .shiftRight2 { right: 270px; }
    #contact {
        padding-top: 80px;
        form {
            padding: 0 20px;
            p {font-size: 16px;}
            input, select {max-width: 250px;}
        }
    }
    #address { 
        h4 {font-size: 20px;}
        font-size: 16px; 
    }
}



