/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    header .siteTitle h1 {
        font-size: calc(10rem + 3vw);
    }
}

/* Landscape phones and down */
@media (max-width: 530px) {
    .cursor {
        display: none;
    }
    header {
        .siteTitle {
            h1 {
                transform: rotate(-90deg);
                position: relative;
                top: 10px;
                left: -20px;
                font-size: calc(5rem + 3vw);
            }
        }
        nav {
            flex-direction: column;
            position: absolute;
            right: 30px;
        }
    }
}


/* Landscape phones and down */
@media (max-width: 450px) {
    .about {
        .aboutP1,
        .aboutP2,
        .aboutP3 {
            font-weight: 500;
        }
    }
}
