section.webProjects {
    height: 250vh;
    padding: 100px 0;
    position: relative;
    h2 {
        font-family: Lato, sans-serif;
        font-size: clamp(10rem, 50vw, 14rem);
        font-weight: 900;
        width: 200%;
        color: transparent;
        -webkit-text-stroke: 0.7px black;
        position: relative;
        right: -100px;
        top: -50px;
        overflow: hidden;
    }
    .proj {
        width: 45%;
        font-family: Lato, sans-serif;
        img {
            box-shadow: 10px 10px 20px darkslategrey;
            border-radius: 5px;
            margin: 10px 0;
        }
        .projText {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-content: center;
            text-align: center;
            h3 a { 
                font-size: calc(2.5rem + 1vw);
                text-transform: uppercase;
                color: transparent;
                -webkit-text-stroke: 0.7px black;
                letter-spacing: 3px;
                transition: 0.5s all;
                &:hover,
                &:focus {
                    color: black;
                    -webkit-text-stroke: 0.7px black;
                }
            }
            .secondaryProjText {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 15px 5px;
                .projLinks {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h4 {
                        font-size: calc(1rem + 1vw);
                        font-weight: 300;
                    }
                    .projButton {
                        padding: 5px;
                        border-radius: 2px;
                        color: black;
                        border: 1px black solid;
                        transition: 0.5s all;
                        &:hover,
                        &:focus {
                            color: white;
                            background-color: black;
                        }
                    }
                }
                ul li {
                    font-style: italic;
                    font-size: 1.9rem;
                    font-weight: 100;
                    padding-top: 5px;
                    text-align: right;
                }
            }
            .blackLine {
                height: 1px;
                background: black;
                width: 100%;
            }
        }
    }
    .justLucy {
        position: absolute;
        top: 1050px;
    }
    .quickExg {
        position: absolute;
        right: 0;
        top: 650px;
    }
}

