.soundCloud {
    height: 100%;
    background-color: black;
    padding: 50px 0;
    h2 {
        font-family: Lato, sans-serif;
        font-size: calc(4rem + 3vw);
        font-weight: 900;
        color: transparent;
        -webkit-text-stroke: 0.7px white;
        text-align: right;
        letter-spacing: 8px;
    }
    .embed {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        iframe {
            margin-top: 50px;
            width: 300px;
            height: 300px;
            z-index: 0;
        }
    }
}