.visualArt {
    height: 100%;
    position: relative;
    h2 {
        font-family: Lato, sans-serif;
        font-size: 6.5rem;
        font-weight: 900;
        color: transparent;
        -webkit-text-stroke: 0.7px black;
        transform: rotate(-90deg);
        position: absolute;
        top: 350px;
        left: -250px;
        overflow: hidden;
        z-index: 99;
    }
    .visualArtSection {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow-x: scroll;
        .displayVisual {
            width: 100%;
            display: flex;
            margin: 100px;
            img {
                width: 600px; // is this the problem?
            }
            .visualText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;    
                border: 1px solid black;           
            }
        }
    }
}