html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Blackout';
  src: url("../fonts/BlackoutSunrise.ttf") format("truetype");
}

@font-face {
  font-family: 'SpaceAge';
  src: url("../fonts/space-age.ttf") format("truetype");
}

@font-face {
  font-family: 'Russo';
  src: url("../fonts/RussoOne-Regular.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

hr {
  max-width: 150px;
}

.wrapper {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

h2, h4 {
  font-weight: 700;
  color: white;
  text-align: left;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 20px;
  white-space: nowrap;
}

h2 span, h4 span {
  color: transparent;
  -webkit-text-stroke: 0.7px #e7c376;
}

h2 {
  font-family: SpaceAge, sans-serif;
  font-size: calc(1.5rem + 4vw);
}

h4 {
  font-size: calc(1rem + 1vw);
  color: #e7c376;
  font-weight: 500;
  font-family: Russo, sans-serif;
}

p:not(.logo) {
  font-size: calc(0.5rem + 2vw);
  font-weight: 300;
}

.hidden {
  display: none !important;
}

.expand {
  -webkit-animation: cursorClick .5s forwards;
          animation: cursorClick .5s forwards;
  border: 3px solid #90CECC;
  z-index: 998;
}

@-webkit-keyframes cursorClick {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes cursorClick {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.whiteStroke {
  color: transparent;
  -webkit-text-stroke: 0.7px white;
}

.blackStroke {
  color: transparent;
  -webkit-text-stroke: 0.7px black;
}

.shiftLeft1, .shiftLeft2 {
  position: relative;
  right: -650px;
}

.shiftRight1, .shiftRight2 {
  position: relative;
  right: 300px;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
}

.logo span.grey {
  color: grey;
}

button {
  background: none;
  border: 1px solid #e7c376;
  color: #e7c376;
  font-family: Russo, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2px;
  min-width: 160px;
  padding: 8px 0 7px;
  margin: 25px auto;
  z-index: 999;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}

button:hover, button:focus {
  color: black;
  border-color: rgba(255, 255, 255, 0.7);
  background: white;
  -webkit-transition: .5s all;
  transition: .5s all;
}

option {
  background: black;
  padding-top: 0 !important;
  margin: 0 !important;
}

select {
  margin: 0 !important;
  padding: 0 !important;
}

.cursor {
  -webkit-filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(17deg) brightness(101%) contrast(106%);
          filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(17deg) brightness(101%) contrast(106%);
}

#cursor {
  position: absolute;
  border-radius: 50%;
  -webkit-transition-duration: 80ms;
          transition-duration: 80ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 999;
  pointer-events: none;
}

#cursor img {
  width: 50px;
  height: 50px;
  mix-blend-mode: difference;
  color: white;
}

.expand {
  -webkit-animation: cursorClick .7s forwards;
          animation: cursorClick .7s forwards;
  border: 3px solid #90CECC;
  z-index: 998;
}

@keyframes cursorClick {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

nav.flexed {
  z-index: 999;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  -webkit-transition: 1s all;
  transition: 1s all;
}

nav.flexed a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 0.5px;
  -webkit-transition: 0.5s letter-spacing;
  transition: 0.5s letter-spacing;
}

nav.flexed a:hover, nav.flexed a:focus {
  color: grey;
}

#header {
  height: 100vh;
}

header {
  overflow-x: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 3, 3, 0.6)), to(rgba(0, 0, 0, 0.05))), url("../assets/earth4.png");
  background: linear-gradient(0deg, rgba(3, 3, 3, 0.6), rgba(0, 0, 0, 0.05)), url("../assets/earth4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .siteTitle {
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

header .siteTitle .headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

header .siteTitle .headers div {
  margin: 20px auto;
}

header .siteTitle h1 {
  font-family: Blackout, sans-serif;
  font-weight: 100;
  font-size: calc(8rem + 3vw);
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
  -ms-flex-item-align: start;
      align-self: flex-start;
  white-space: nowrap;
}

header .siteTitle h2 {
  font-family: Russo, sans-serif;
  font-size: calc(2rem + 1vw);
  font-weight: 700;
  margin-top: -10px;
  letter-spacing: 8px;
  color: white;
  text-align: left;
  white-space: nowrap;
}

header .siteTitle br {
  display: none;
}

#about-us, #what-we-do, #our-services, #address, #contact {
  background: black;
  min-height: 75vh;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  color: white;
  font-size: calc(1.2rem + 0.3vw);
}

#about-us .textblock, #what-we-do .textblock, #our-services .textblock, #address .textblock, #contact .textblock {
  font-family: Russo, sans-serif;
  height: 100%;
  margin: 0 auto;
  padding: 20px 60px;
  position: relative;
  z-index: 8;
}

#about-us p, #what-we-do p, #our-services p, #address p, #contact p {
  letter-spacing: 0.6px;
  line-height: 150%;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#about-us p span, #what-we-do p span, #our-services p span, #address p span, #contact p span {
  color: rgba(255, 255, 255, 0.7);
}

.Img1 {
  background: url("../assets/greg-rakozy-oMpAz-DN-9I-unsplash.jpg");
}

.Img2 {
  background: url("../assets/epic-earth-rotate-sunlight-glow-starry-galaxy-2021-08-29-03-57-26-utc.jpg");
}

.Img3 {
  background: url("../assets/mathew-schwartz-7YiZKj9A3DM-unsplash.jpg");
}

.Img1, .Img2, .Img3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  height: 70vh;
  width: auto;
}

#our-services {
  padding: 80px 0 20px;
}

#our-services .textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 150px;
}

#our-services .textblock div {
  width: 30%;
  margin: 30px 0px;
  padding: 0;
  text-align: center;
}

#our-services .textblock div h4 {
  text-align: center;
  padding-bottom: 0;
  color: #7ebec5;
}

#our-services .textblock div button {
  border: none;
  padding-top: 0;
}

#our-services .textblock div button:focus, #our-services .textblock div button:hover {
  border: none;
  color: white;
  background: none;
}

#our-services .textblock div div.service {
  width: 90%;
  margin: 0 auto;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

#our-services .textblock div div.service p {
  font-size: 20px;
  text-transform: none;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

#contact {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact form {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  font-family: Russo, sans-serif;
}

#contact form p {
  font-size: calc(2rem + 1vh);
  line-height: 60px;
}

#contact form input, #contact form select {
  font-family: Russo, sans-serif;
  color: #e7c376;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  max-width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#contact form .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#address {
  background-image: url("../assets/thing3.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

#address div.textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40vh;
  background-color: transparent;
}

#address div.textblock span, #address div.textblock a {
  font-weight: 300;
  font-family: Lato, sans-serif;
  color: white;
  line-height: 130%;
}

#address div.textblock a:hover, #address div.textblock a:focus {
  color: #e7c376;
}

.footer {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.7);
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: calc(1rem + 0.3vw);
  font-weight: 300;
  letter-spacing: 8px;
  padding: 5px 0;
}

.footer a {
  color: white;
  font-weight: 400;
  position: relative;
  z-index: 99;
}

.footer a:hover, .footer a:focus {
  color: #e7c376;
  cursor: pointer;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header .siteTitle h1 {
    font-size: calc(6rem + 2vw);
  }
  header .siteTitle h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  #our-services .textblock div {
    width: 50%;
    margin-right: 0px;
    padding: 5px;
  }
  #our-services .textblock div p {
    font-size: 16px;
  }
  #contact form p {
    font-size: 20px;
  }
}

/* Landscape phones and down */
@media (max-width: 530px) {
  .cursor {
    display: none;
  }
  nav {
    padding: 10px 20px !important;
  }
  nav a {
    font-size: 12px;
  }
  header .siteTitle h1 {
    font-size: calc(5rem + 2vw);
  }
  header .siteTitle h2 {
    font-size: 16px;
    padding-top: 20px;
  }
  header .siteTitle br {
    display: initial;
  }
  #about-us .textblock p, #what-we-do .textblock p, #address .textblock p, #contact #our-services .textblock p {
    line-height: 130%;
    font-size: 16px;
  }
  #our-services .textblock {
    padding: 20px;
  }
  #our-services .textblock h4 {
    font-size: 16px;
  }
  #our-services .textblock button {
    min-width: 130px;
    width: 130px;
  }
  #our-services .textblock div {
    width: 100%;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #our-services .textblock div div.service p {
    padding: 0px 15px;
    font-size: 16px !important;
  }
  .shiftLeft1 {
    right: -430px;
  }
  .shiftLeft2 {
    right: -400px;
  }
  .shiftRight1 {
    right: 370px;
  }
  .shiftRight2 {
    right: 270px;
  }
  #contact {
    padding-top: 80px;
  }
  #contact form {
    padding: 0 20px;
  }
  #contact form p {
    font-size: 16px;
  }
  #contact form input, #contact form select {
    max-width: 250px;
  }
  #address {
    font-size: 16px;
  }
  #address h4 {
    font-size: 20px;
  }
}
