html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  cursor: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Gothic';
  src: url("/fonts/Gothic Outline Title W01 D.ttf") format("truetype");
}

@font-face {
  font-family: 'Arial';
  src: url("/fonts/Arial Narrow.ttf") format("truetype");
}

.cursor {
  width: 40px;
  height: 40px;
  background-color: black;
  border: 0.6px black solid;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 80ms;
          transition-duration: 80ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.expand {
  -webkit-animation: cursorClick .5s forwards;
          animation: cursorClick .5s forwards;
  border: 3px solid #84ff6b;
  z-index: 998;
}

@-webkit-keyframes cursorClick {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes cursorClick {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0;
  }
}

header {
  overflow-x: hidden;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding-top: 20px;
  position: relative;
}

header .headerImg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

header .siteTitle {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .siteTitle h1 {
  font-family: Lato, sans-serif;
  letter-spacing: 8px;
  width: 50%;
  font-weight: 700;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
}

header .siteTitle h1:hover, header .siteTitle h1:focus {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

header .siteTitle h1 .whiteStroke {
  color: transparent;
  -webkit-text-stroke: 0.7px white;
}

header .siteTitle .seeMore {
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border: none;
  border: 1px rgba(128, 128, 128, 0.6) solid;
  padding: 10px 15px;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
}

header .siteTitle .seeMore:hover, header .siteTitle .seeMore:focus {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border: 1px black solid;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .linkFavs {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .linkFavs .fab {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.3rem;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

header nav .linkFavs .fab:hover, header nav .linkFavs .fab:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: rgba(255, 255, 255, 0.7);
}

header nav .dropdownMenu {
  position: absolute;
  top: 70px;
  right: 3%;
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: right;
}

header nav .dropdownMenu ul li {
  background-color: rgba(128, 128, 128, 0.6);
  border: rgba(255, 255, 255, 0.7) 0.5px solid;
  padding: 8px;
  margin-bottom: 5px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

header nav .dropdownMenu ul li:hover, header nav .dropdownMenu ul li:focus {
  background: rgba(255, 255, 255, 0.7);
  border: rgba(128, 128, 128, 0.6) 0.5px solid;
}

header nav .dropdownMenu ul li a {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}

header nav .dropdownMenu ul li:hover a,
header nav .dropdownMenu ul li:focus a {
  color: #040609;
}

header nav .hamburg {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

header nav .hamburg:hover, header nav .hamburg:focus {
  background: #272727;
  color: white;
}

header nav .hamburg > div {
  top: 45%;
  left: 25%;
  width: 50%;
  height: 1px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
}

header nav div.one {
  top: 28%;
}

header nav div.three {
  top: 63%;
}

header nav .hamburg:hover > div,
header nav .hamburg:focus > div {
  background: white;
}

header nav .hamburg.active .one {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 47%;
  left: 25%;
}

header nav .hamburg.active .three {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 47%;
  left: 25%;
}

header nav .hamburg.active .two {
  opacity: 0;
}

header nav .dropdownMenu.active {
  top: 75px;
  opacity: 1;
}

header .arrowWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .arrowWrapper .arrow {
  position: relative;
  height: 30px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .arrowWrapper .arrow .long {
  background-color: rgba(255, 255, 255, 0.7);
  height: 1px;
  width: 40px;
  position: absolute;
  top: 45%;
  right: 0;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

header .arrowWrapper .arrow .shortOne {
  height: 1px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
  top: 32%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

header .arrowWrapper .arrow .shortTwo {
  height: 1px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 39%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background-color: rgba(255, 255, 255, 0.7);
}

header .arrowWrapper .arrow:hover .long,
header .arrowWrapper .arrow:focus .long {
  width: 60px;
}

section.webProjects {
  height: 250vh;
  padding: 100px 0;
  position: relative;
}

section.webProjects h2 {
  font-family: Lato, sans-serif;
  font-size: clamp(10rem, 50vw, 14rem);
  font-weight: 900;
  width: 200%;
  color: transparent;
  -webkit-text-stroke: 0.7px black;
  position: relative;
  right: -100px;
  top: -50px;
  overflow: hidden;
}

section.webProjects .proj {
  width: 45%;
  font-family: Lato, sans-serif;
}

section.webProjects .proj img {
  -webkit-box-shadow: 10px 10px 20px darkslategrey;
          box-shadow: 10px 10px 20px darkslategrey;
  border-radius: 5px;
  margin: 10px 0;
}

section.webProjects .proj .projText {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

section.webProjects .proj .projText h3 a {
  font-size: calc(2.5rem + 1vw);
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.7px black;
  letter-spacing: 3px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

section.webProjects .proj .projText h3 a:hover, section.webProjects .proj .projText h3 a:focus {
  color: black;
  -webkit-text-stroke: 0.7px black;
}

section.webProjects .proj .projText .secondaryProjText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 0;
}

section.webProjects .proj .projText .secondaryProjText h4 {
  font-size: calc(1rem + 1vw);
  font-weight: 300;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section.webProjects .proj .projText .secondaryProjText ul li {
  font-style: italic;
  font-size: 1.9rem;
  font-weight: 100;
  padding-top: 5px;
}

section.webProjects .proj .projText .blackLine {
  height: 1px;
  background: black;
  width: 100%;
}

section.webProjects .justLucy {
  position: absolute;
  top: 1050px;
}

section.webProjects .quickExg {
  position: absolute;
  right: 0;
  top: 650px;
}

.about {
  height: 100%;
  padding: 100px 0;
  font-family: Lato, sans-serif;
  letter-spacing: 2px;
  background: #111517;
  color: white;
  font-weight: 300;
  line-height: 130%;
}

.about .whiteLine,
.about .whiteLine2 {
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  background-color: white;
}

.about .aboutP {
  font-size: calc(1rem + 0.5vw);
  letter-spacing: 0.6px;
  font-weight: 100;
  height: 100%;
}

.about .skillList {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .skillList .pTag {
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.about .skillList .pTag .skillDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .skillList .pTag .skillDiv i {
  font-size: 4rem;
  padding-bottom: 15px;
  height: 60px;
}

.visualArt {
  height: 100vh;
}

.visualArt h2 {
  font-family: Lato, sans-serif;
  font-size: clamp(6rem, 20vw, 4rem);
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 0.7px black;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  top: -100px;
  left: -600px;
  overflow: hidden;
  z-index: 99;
}

.visualArt .visualArtSection {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

.visualArt .visualArtSection .displayVisual {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 200px;
}

.visualArt .visualArtSection .displayVisual img {
  width: 600px;
}

.visualArt .visualArtSection .displayVisual .visualText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid black;
}

.soundCloud {
  height: 60vh;
  background-color: black;
  margin-top: 50px;
}

.soundCloud h2 {
  font-family: Lato, sans-serif;
  font-size: clamp(6rem, 20vw, 4rem);
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 0.7px white;
  text-align: right;
  letter-spacing: 8px;
}

.soundCloud .embed {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soundCloud .embed iframe {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

.footer {
  background-color: black;
  color: white;
  font-family: Lato, sans-serif;
  text-align: center;
  font-weight: 300;
}

.footer a {
  color: white;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
