html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  cursor: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

.whiteStroke {
  color: transparent;
  -webkit-text-stroke: 0.7px white;
}

.blackStroke {
  color: transparent;
  -webkit-text-stroke: 0.7px black;
}

@font-face {
  font-family: 'Gothic';
  src: url("/fonts/Gothic Outline Title W01 D.ttf") format("truetype");
}

@font-face {
  font-family: 'Arial';
  src: url("/fonts/Arial Narrow.ttf") format("truetype");
}

.cursor {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.6px rgba(255, 255, 255, 0.7) solid;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 80ms;
          transition-duration: 80ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.expand {
  -webkit-animation: cursorClick .5s forwards;
          animation: cursorClick .5s forwards;
  border: 3px solid #84ff6b;
  z-index: 998;
}

@-webkit-keyframes cursorClick {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes cursorClick {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0;
  }
}

@-webkit-keyframes color-change {
  0% {
    color: white;
  }
  48% {
    color: black;
  }
  100% {
    color: white;
  }
}

@keyframes color-change {
  0% {
    color: white;
  }
  48% {
    color: black;
  }
  100% {
    color: white;
  }
}

header {
  overflow-x: hidden;
  height: 85vh;
  background: black;
  padding-top: 20px;
}

header nav.flexed {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav.flexed .fas, header nav.flexed .fab {
  color: white;
  padding: 15px 0;
  font-size: 2.5rem;
  -webkit-transition: all 0.16s;
  transition: all 0.16s;
}

header nav.flexed .fas:hover, header nav.flexed .fas:focus, header nav.flexed .fab:hover, header nav.flexed .fab:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .siteTitle {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

header .siteTitle h1 {
  -webkit-animation: color-change 18s infinite;
          animation: color-change 18s infinite;
  font-family: Lato, sans-serif;
  letter-spacing: 8px;
  font-weight: 700;
  font-size: 4.5rem;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
  cursor: default;
  position: relative;
}

header .siteTitle h1:hover, header .siteTitle h1:focus {
  color: green;
}

header .siteTitle .invis {
  display: none;
  position: absolute;
  top: 0;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
}

header .siteTitle .invis:hover, header .siteTitle .invis:focus {
  color: white;
}

.about {
  height: 100%;
  padding: 50px 0;
  font-family: Lato, sans-serif;
  letter-spacing: 2px;
  background: black;
  color: white;
  line-height: 130%;
  font-size: calc(1.2rem + 0.3vw);
}

.about .aboutContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

.about .aboutContact i {
  font-size: 2rem;
  padding-left: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.about .aboutContact i:hover, .about .aboutContact i:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.about .whiteLine,
.about .whiteLine2 {
  width: 90%;
  height: 1px;
  display: inline-block;
  background-color: white;
}

.about .aboutP1,
.about .aboutP2,
.about .aboutP3 {
  letter-spacing: 0.6px;
  font-weight: 100;
  height: 100%;
  margin: 10px auto;
  color: white;
}

.about .skillList {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .skillList .pTag {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.about .skillList .pTag .skillDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: calc(1rem + 0.3vw);
  font-weight: 200;
}

.about .skillList .pTag .skillDiv i {
  padding-bottom: 15px;
  height: 60px;
  font-size: calc(1.8rem + 1vw);
}

.about .modal {
  background: white;
  position: absolute;
  top: -10%;
  right: 40%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #111517;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-radius: 2px;
  opacity: 0;
  background: white;
  width: 250px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.about .modal .modalText {
  text-align: center;
  width: 100%;
}

.about .activeView {
  opacity: 1;
  top: 11%;
}

.white {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.white:hover, .white:focus {
  color: white;
}

.soundCloud {
  height: 100%;
  background-color: black;
  padding-bottom: 50px;
}

.soundCloud h2 {
  font-family: Lato, sans-serif;
  font-size: calc(4rem + 3vw);
  font-weight: 900;
  text-align: right;
  letter-spacing: 8px;
  color: white;
}

.soundCloud .embed {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soundCloud .embed iframe {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  z-index: 0;
}

.videos {
  border-top: 1px white solid;
  padding: 50px 0;
  background: black;
}

.videos h2 {
  font-family: Lato, sans-serif;
  font-size: calc(4rem + 3vw);
  font-weight: 900;
  color: white;
  text-align: left;
  letter-spacing: 8px;
}

.videos .embedVideos {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos .embedVideos iframe {
  margin: 20px;
}

.footer {
  background-color: white;
  color: black;
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: calc(1rem + 0.3vw);
  font-weight: 300;
  letter-spacing: 8px;
  padding: 3px 0;
}

.footer a {
  color: #111517;
  font-weight: 400;
}

.footer a:hover, .footer a:focus {
  color: white;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  section.webProjects {
    height: 100%;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.webProjects h2 {
    font-size: calc(7rem + 6vw);
  }
  section.webProjects .proj {
    width: 70%;
  }
  section.webProjects .justLucy {
    position: static;
  }
  section.webProjects .quickExg {
    position: static;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header .siteTitle h1 {
    font-size: calc(5rem + 3vw);
  }
  nav div.linkFavs {
    width: 50%;
  }
  .skillDiv i {
    font-size: calc(1.8rem + 1vw);
  }
  .skillDiv li {
    font-size: 1.2rem;
  }
  .about .modal {
    right: 25%;
  }
}

/* Landscape phones and down */
@media (max-width: 530px) {
  .cursor {
    display: none;
  }
  header .siteTitle h1 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: relative;
    top: 150px;
    left: -20px;
    font-size: calc(5rem + 3vw);
  }
  header .siteTitle .seeMore {
    display: none;
  }
  header nav .hamburg {
    width: 30px;
    height: 30px;
  }
  .visualArt h2 {
    top: 300px;
    left: -180px;
    font-size: calc(4rem + 3vw);
  }
  .visualArt .visualArtSection .displayVisual {
    width: auto;
    height: 50vh;
  }
  .soundCloud h2 {
    font-size: calc(3.2rem + 2.7vw);
  }
  .about .modal {
    right: 50%;
    top: 20%;
  }
  .about .aboutP1,
  .about .aboutP2,
  .about .aboutP3 {
    font-size: 1.5rem;
  }
}

/* Landscape phones and down */
@media (max-width: 450px) {
  .about .aboutP1,
  .about .aboutP2,
  .about .aboutP3 {
    font-weight: 500;
  }
}
